<div class="tab-content">
	<% @courses.each do |group, course_all| %>

		<div role="tabpanel" class="tab-pane active" id="<%= group %>">
			<table class="table">
				<thead><tr><th>Title</th>  <th>Code</th>  <th>Description</th>  <th>Dates</th>  <th>Sign Up</th></tr></thead>
				<% course_all.each do |course| %>
					<tr>
						<td><strong><%= course.title %></strong></td>
						<td><%= course.code %></td>
						<td><%= course.about %></td>
						<td><%= course.dates %></td>

						<!--Sign Up Cell-->
						<% if logged_in? %>
							<%= form_for @class_list, url: class_lists_path(@class_list), html: { method: :post } do |f| %>
								<%= f.hidden_field :course_id, value: course.id %>
								<%= f.hidden_field :user_id, value: current_user.id %>
								<% if course.class_lists.count >= course.size %>
									<td><strong>Class Full!</strong></td>
								<% else %>
									<td><%= f.submit 'Sign Up', class: 'btn btn-primary btn-xs' %></td>
								<% end %>
							<% end %>
						<% else %>
							<td><%= link_to 'Register', login_path, class: 'btn btn-primary btn-xs' %></td>
						<% end %>

					</tr>
				<% end %>
			</table>
		</div>

	<% end %>
</div>