<h1>Admin Add User</h1>
<p>This page will add a user and assign them a random password. You will then be directed to a page where you can add the new user to a course.</p>
<h5>Data entered on this page will skip validation! This means that you should check whether a user already exists before submitting information here.</h5>

<%= form_for(:user, url: admin_user_path) do |f| %>
	<div class="top-label">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<div class="top-label">
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
	</div>
	<div class="top-label">
		<%= f.label :phone %>
		<%= f.text_field :phone, placeholder: '6042247245', class: 'form-control', maxlength: '10' %>
	</div>
	<div class="top-label">
		<%= f.label :age %>
		<%= f.number_field :age, class: 'form-control inline-group' %>
	</div>
	<div class="top-label">
		<%= f.label :health_notes %>
		<%= f.text_field :health_notes, class: 'form-control' %>
	</div>
	<%= f.label :waiver %>
	<%= f.check_box :waiver %>
	<div class="top-label">
		<%= f.label :password %>
		<%= f.password_field :password, value: @password, class: 'form-control inline-group'  %>
	</div>
	<div class="top-label">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, value: @password, class: 'form-control inline-group'  %>
	</div>
	<hr>
	<%= f.submit 'Create User', class: 'btn btn-primary' %>
<% end %>