<h1>Users</h1>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNew" aria-expanded="false" aria-controls="collapseNew">
	Create New User
</button>
<hr>
<div class="collapse" id="collapseNew">
	<h4>Create New User</h4>
	<%= form_for(@user, url: admin_user_path) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="top-label">
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="top-label">
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
		</div>
		<div class="top-label">
			<%= f.label :phone %>
			<%= f.text_field :phone, placeholder: '6042247245', class: 'form-control', maxlength: '10' %>
		</div>
		<div class="top-label">
			<%= f.label :age %>
			<%= f.number_field :age, class: 'form-control inline-group' %>
		</div>
		<div class="top-label">
			<%= f.label :health_notes %>
			<%= f.text_field :health_notes, class: 'form-control' %>
		</div>
		<%= f.label :waiver %>
		<%= f.check_box :waiver %>
		<div class="top-label">
			<%= f.label :password %>
			<%= f.password_field :password, value: @password, class: 'form-control inline-group'  %>
		</div>
		<div class="top-label">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, value: @password, class: 'form-control inline-group'  %>
		</div>
		<%= f.submit 'Create User', class: 'btn btn-primary' %>
	<% end %>
	<hr>
</div>

<%= form_tag('#', method: :get, class: 'well') do %>
	<div class="top-label">
		<label>Search</label>
		<%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'search users'  %>
	</div>
	<div class="top-label">
		<label>Search Phone</label>
		<%= text_field_tag :phone, params[:phone], class: 'form-control', placeholder: 'search phone numbers'  %>
	</div>
	<button class="btn btn-default" type="submit">Search</button>
<% end %>

<%= paginate @users %>

<table class="table">
	<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Age</th>
		<th>Act.</th>
		<th>Waiv.</th>
		<th>Health</th>
		<th>Course: Paid?</th>
		<th>Actions</th>
	</tr>
	</thead>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.phone %></td>
			<td><%= user.email %></td>
			<td><%= user.age %></td>
			<td><%= user.activated %></td>
			<td><%= user.waiver %></td>
			<td><%= user.health_notes %></td>
			<td>
				<% user.class_lists.each do |c| %>
					<%= "  #{c.course.code}: #{c.paid},  " %>
				<% end %>
			</td>
			<td>
				<%= link_to 'Delete', user_path(user), method: :delete,
											data: {confirm: 'This will delete the user and all their payment and course data.'},
											class: 'btn btn-xs btn-default' %>
				<%= link_to 'View', user_path(user), class: 'btn btn-xs btn-default' %>
				<%= link_to 'Register', admin_class_path(user_id: user.id), class: 'btn btn-xs btn-default' %>
			</td>
		</tr>
	<% end %>
</table>

<%= paginate @users %>