<h1>Users</h1>

<table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Age</th>
		<th>Health Notes</th>
		<th>Course: Paid?</th>
	</tr>
	</thead>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.phone %></td>
			<td><%= user.email %></td>
			<td><%= user.age %></td>
			<td><%= user.health_notes %></td>
			<td>
				<% user.class_lists.each do |c| %>
					<%= "  #{c.course.code}: #{c.paid},  " %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>