<h1>Users</h1>

<%= form_tag('#', method: :get, class: 'well') do %>
	<div class="top-label">
		<label>Search</label>
		<%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'search users'  %>
	</div>
	<div class="top-label">
		<label>Search Phone</label>
		<%= text_field_tag :phone, params[:phone], class: 'form-control', placeholder: 'search phone numbers'  %>
	</div>
	<button class="btn btn-default" type="submit">Search</button>
<% end %>

<%= paginate @users %>

<table class="table">
	<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Age</th>
		<th>Account Activated</th>
		<th>Waiver Signed</th>
		<th>Health Notes</th>
		<th>Course: Paid?</th>
		<th>Actions</th>
	</tr>
	</thead>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.phone %></td>
			<td><%= user.email %></td>
			<td><%= user.age %></td>
			<td><%= user.activated %></td>
			<td><%= user.waiver %></td>
			<td><%= user.health_notes %></td>
			<td>
				<% user.class_lists.each do |c| %>
					<%= "  #{c.course.code}: #{c.paid},  " %>
				<% end %>
			</td>
			<td>
				<%= link_to 'Delete', user_path(user), method: :delete,
											data: {confirm: 'This will delete the user and all their payment and course data.'},
											class: 'btn btn-xs btn-danger' %>
				<%= link_to 'View', user_path(user), class: 'btn btn-xs btn-default' %>
			</td>
		</tr>
	<% end %>
</table>

<%= paginate @users %>