<h1>Users</h1>

<%= form_tag('#', method: :get, class: 'inline-form') do %>
	<label>Search</label>
	<%= text_field_tag :search, params[:search], class: 'form-control inline-group', placeholder: 'search users'  %>

	<label>Search Phone</label>
	<%= text_field_tag :phone, params[:phone], class: 'form-control inline-group', placeholder: 'search phone numbers'  %>

	<button class="btn btn-default btn-sm" type="submit">Search</button>
<% end %>

<table class="table">
	<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Age</th>
		<th>Account Activated</th>
		<th>Waiver Signed</th>
		<th>Health Notes</th>
		<th>Course: Paid?</th>
		<th>Actions</th>
	</tr>
	</thead>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.phone %></td>
			<td><%= user.email %></td>
			<td><%= user.age %></td>
			<td><%= user.activated %></td>
			<td><%= user.waiver %></td>
			<td><%= user.health_notes %></td>
			<td>
				<% user.class_lists.each do |c| %>
					<%= "  #{c.course.code}: #{c.paid},  " %>
				<% end %>
			</td>
			<td><%= link_to 'Delete User', user_path(user), method: :delete, class: 'btn btn-xs btn-danger' %></td>
		</tr>
	<% end %>
</table>