<h1>New Registration</h1>
<%= form_for @user do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.label :'Participant name (required)' %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :'email (required)' %>
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.label :'phone number (required)' %>
	<%= f.text_field :phone, placeholder: 'format: 6042247245', class: 'form-control' %>

	<%= f.label :age %>
	<%= f.number_field :age, class: 'form-control' %>

	<%= f.label :health_notes %>
	<%= f.text_field :health_notes, class: 'form-control' %>

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>

	<%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>