<h1><%= @user.name %></h1>

<h2>My Classes</h2>

<table class="table">
	<thead>
	<tr>
		<th>Course</th>
		<th>Location</th>
		<th>Dates</th>
		<th>Paid</th>
	</tr>
	</thead>
	<% @user_classes.each do |c| %>
		<tr>
			<td><%= c.course.title %></td>
			<td><%= c.course.location %></td>
			<td><%= c.course.dates %></td>
			<td><%= c.paid %></td>
		</tr>
	<% end %>
</table>
