<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<%= link_to 'Edit Account', edit_user_path(@user), class: 'btn btn-default' %>

<h2>My Classes</h2>

<table class="table">
	<thead>
		<tr>
			<th>Code</th>
			<th>Course</th>
			<th>Location</th>
			<th>Dates</th>
			<th>Paid</th>
			<th>Actions</th>
		</tr>
	</thead>
	<% @user_classes.each do |c| %>
		<tr>
			<td><%= c.course.code %></td>
			<td><%= c.course.title %></td>
			<td><%= c.course.location %></td>
			<td><%= c.course.dates %></td>
			<td><%= c.paid %></td>
			<td><%= link_to 'My Application', class_list_path(c) %></td>
		</tr>
	<% end %>
</table>
