<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<%= link_to 'Edit Account', edit_user_path(@user), class: 'btn btn-default' %>
<%= link_to 'Sign Up For Courses', all_path, class: 'btn btn-default' %>

<% unless @user.activated %>
	<hr>
	<p>Your Account is currently not activated. You will not be able to register for courses. Check your email for the activation link.</p>
	<%= link_to 'Resend Activation Link', '#' %>
	<!--TODO resend activation link -->
	<hr>
<% end %>
<% unless @user.waiver %>
	<hr>
	<p>You have not signed the current waiver. Please sign the waiver by clicking below.</p>
	<%= link_to 'Sign Waiver', edit_user_path(@user) %>
	<hr>
<% end %>

<h2>My Classes</h2>

<table class="table">
	<thead>
		<tr>
			<th>Code</th>
			<th>Course</th>
			<th>Location</th>
			<th>Dates</th>
			<th>Paid</th>
			<th>Actions</th>
		</tr>
	</thead>
	<% @user.class_lists.each do |c| %>
		<tr>
			<td><%= c.course.code %></td>
			<td><%= c.course.title %></td>
			<td><%= c.course.location %></td>
			<td><%= c.course.dates %></td>
			<td><%= c.paid %></td>
			<td><%= link_to 'My Application', class_list_path(c), class: 'btn btn-xs btn-default' %></td>
		</tr>
	<% end %>
	<% @user.wait_lists.each do |c| %>
		<tr>
			<td><%= c.course.code %></td>
			<td><%= c.course.title %></td>
			<td><%= c.course.location %></td>
			<td><%= c.course.dates %></td>
			<td>WAIT LIST</td>
			<td>WAIT LIST</td>
		</tr>
	<% end %>
</table>
