<table class="table">
	<thead><tr><th>Title</th>  <th>Code</th> <th>Skill</th> <th>Age Group</th>  <th>Description</th> <th>Max Size</th> <th>Current Size</th>  <th>Start Date</th>  <th>Sign Up</th></tr></thead>
	<% @courses.each do |course| %>
		<tr>
			<td><strong><%= course.title %></strong></td>
			<td><%= course.code %></td>
			<td><%= course.category %></td>
			<td><%= course.age_group %></td>
			<td><%= course.about %></td>
			<td><%= course.size %></td>
			<td><%= course.class_lists.count %></td>
			<td><%= course.start_date %></td>

			<!--Sign Up Cell-->
			<td>

				<% if course.class_lists.count >= course.size %>
					<strong>Class Full!</strong>
					<% if logged_in? %>
						<% if current_user.activated %>
							<%= link_to 'Register for Wait List', wait_lists_path(wait_list: {course_id: course.id}), method: :post, class: 'btn btn-default btn-xs' %>
						<% end %>
					<% end %>
				<% else %>

					<% if logged_in? %>

						<% if current_user.activated %>
							<%= link_to 'Register Link', class_lists_path(class_list: {course_id: course.id}), method: :post, class: 'btn btn-xs btn-primary' %>
						<% else %>
							<%= link_to 'Activate Account', user_path(current_user), class: 'btn btn-primary btn-xs'  %>
						<% end %>

					<% else %>
						<%= link_to 'Log In', login_path, class: 'btn btn-primary btn-xs' %>
					<% end %>

				<% end %>

			</td>

		</tr>
	<% end %>
</table>