<table class="table">
	<thead><tr><th>Title</th>  <th>Code</th> <th>Skill</th> <th>Age Group</th>  <th>Description</th>  <th>Dates</th>  <th>Sign Up</th></tr></thead>
	<% @courses.each do |course| %>
		<tr>
			<td><strong><%= course.title %></strong></td>
			<td><%= course.code %></td>
			<td><%= course.category %></td>
			<td><%= course.age_group %></td>
			<td><%= course.about %></td>
			<td><%= course.dates %></td>

			<!--Sign Up Cell-->
			<% if logged_in? %>
				<%= form_for @class_list, url: class_lists_path(@class_list), html: { method: :post } do |f| %>
					<%= f.hidden_field :course_id, value: course.id %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<% if course.class_lists.count >= course.size %>
						<td><strong>Class Full!</strong></td>
					<% else %>
						<td><%= f.submit 'Sign Up', class: 'btn btn-primary btn-xs' %></td>
					<% end %>
				<% end %>
			<% else %>
				<td><%= link_to 'Register', login_path, class: 'btn btn-primary btn-xs' %></td>
			<% end %>

		</tr>
	<% end %>
</table>