<table class="table">
	<thead><tr><th>Title</th>  <th>Code</th> <th>Skill</th> <th>Age Group</th>  <th>Description</th> <th>Max Size</th> <th>Current Size</th>  <th>Start Date</th>  <th>Sign Up</th></tr></thead>
	<% @courses.each do |course| %>
		<tr>
			<td><strong><%= course.title %></strong></td>
			<td><%= course.code %></td>
			<td><%= course.category %></td>
			<td><%= course.age_group %></td>
			<td><%= course.about %></td>
			<td><%= course.size %></td>
			<td><%= course.class_lists.count %></td>
			<td><%= course.start_date %></td>

			<!--Sign Up Cell-->
			<td>

				<% if course.class_lists.count >= course.size %>
					<strong>Class Full!</strong>
				<% else %>
					<% if logged_in? %>
						<% if current_user.activated %>
							<%= form_for @class_list, url: class_lists_path(@class_list), html: { method: :post } do |f| %>
								<%= f.hidden_field :course_id, value: course.id %>
								<%= f.hidden_field :user_id, value: current_user.id %>
							<% end %>
						<% else %>
							<%= link_to 'Activate Account', user_path(current_user), class: 'btn btn-primary btn-xs'  %>
						<% end %>
					<% else %>
						<%= link_to 'Register', login_path, class: 'btn btn-primary btn-xs' %>
					<% end %>
				<% end %>

			</td>

		</tr>
	<% end %>
</table>