<div id="home-head">
	<h1>MacSailing</h1>
	<h3>Sailing Lessons in Vancouver</h3>
	<div>
		<h4>Lessons</h4>
		<%= link_to 'Beginner', beginner_path, class: 'btn btn-primary' %>
		<%= link_to 'Intermediate', intermed_path, class: 'btn btn-primary' %>
		<%= link_to 'Advanced', advanced_path, class: 'btn btn-primary' %>
	</div>
	<div>
		<h4>Other</h4>
		<%= link_to 'Groups', lessons_path, class: 'btn btn-primary' %>
		<%= link_to 'Rentals', lessons_path, class: 'btn btn-primary' %>
	</div>
</div>
