<h1>All Courses</h1>

<div class="row">

	<div class="col-xs-6 col-md-2">
		<a href="?category=Beginner" class="thumbnail">
			<img src="http://40.media.tumblr.com/cd30a78ae33741728f38e93cd55b4c3f/tumblr_nd367nbvpC1tuu576o1_1280.jpg" alt="Sailing">
			<h4>Beginner</h4>
		</a>
	</div>

	<div class="col-xs-6 col-md-2">
		<a href="?category=Intermediate" class="thumbnail">
			<img src="http://40.media.tumblr.com/cd30a78ae33741728f38e93cd55b4c3f/tumblr_nd367nbvpC1tuu576o1_1280.jpg" alt="Sailing">
			<h4>Intermediate</h4>
		</a>
	</div>

	<div class="col-xs-6 col-md-2">
		<a href="?category=Advanced" class="thumbnail">
			<img src="http://40.media.tumblr.com/cd30a78ae33741728f38e93cd55b4c3f/tumblr_nd367nbvpC1tuu576o1_1280.jpg" alt="Sailing">
			<h4>Advanced</h4>
		</a>
	</div>

	<div class="col-xs-6 col-md-2">
		<a href="?location=Jericho" class="thumbnail">
			<img src="http://40.media.tumblr.com/cd30a78ae33741728f38e93cd55b4c3f/tumblr_nd367nbvpC1tuu576o1_1280.jpg" alt="Sailing">
			<h4>At Jericho Beach</h4>
		</a>
	</div>

	<div class="col-xs-6 col-md-2">
		<a href="?not_age=Adult" class="thumbnail">
			<img src="http://40.media.tumblr.com/cd30a78ae33741728f38e93cd55b4c3f/tumblr_nd367nbvpC1tuu576o1_1280.jpg" alt="Sailing">
			<h4>Youth Courses</h4>
		</a>
	</div>

	<div class="col-xs-6 col-md-2">
		<a href="?age_group=Adult" class="thumbnail">
			<img src="http://40.media.tumblr.com/cd30a78ae33741728f38e93cd55b4c3f/tumblr_nd367nbvpC1tuu576o1_1280.jpg" alt="Sailing">
			<h4>Adult Courses</h4>
		</a>
	</div>



</div>

<div>
	<h3>Search For: <%= params[:boat] %> <%= params[:location] %> <%= params[:category] %> <%= params[:age_group] %> <%= params[:search] %></h3>
</div>

<%= render 'shared/courses/search' %>


<%= render 'shared/courses/courses' %>