<h1>Course Index</h1>
<table class="table">
	<% @courses.each do |course| %>
		<tr><td><%= course.title %></td> <td><%= course.code %></td> <td><%= course.size %></td> <td><%= course.dates %></td> <td><%= course.category %></td> </tr>
	<% end %>
</table>