<h1><%= @course.title %></h1>
<h5><%= @course.dates %></h5>
<h5><%= @course.category %> <%= @course.code %> Max Size: <%= @course.size %></h5>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Age</th>
			<th>Health Notes</th>
			<th>Created At</th>
			<th>Recieved Payment</th>
		</tr>
	</thead>
<% @class_list.each do |c| %>
	<tr>
		<td><%= @count.to_s %></td>
		<td><%= c.user.name %></td>
		<td><%= c.user.phone %></td>
		<td><%= c.user.email %></td>
		<td><%= c.user.age %></td>
		<td><%= c.user.health_notes %></td>
		<td><%= c.created_at %></td>
		<td><%= c.paid.to_s %></td>
	</tr>
	<% @count += 1 %>
<% end %>
</table>