<table class="table">
	<thead>
	<tr><th>#</th><th>Code</th><th>Title</th><th>Category</th><th>Age Group</th>
		<th>Boat</th><th>Max Size</th><th>Current Size</th><th>Wait List</th>
		<th>Start Date</th><th>End Date</th><th>Dates</th><th>Action</th>
	</tr>
	</thead>
	<% @courses.each do |course| %>
		<tr>
			<td><%= course.id %></td>
			<td><%= course.code %></td>
			<td><%= course.title %></td>
			<td><%= course.category %></td>
			<td><%= course.age_group %></td>
			<td><%= course.boat %></td>
			<td><%= course.size %></td>
			<td><%= course.class_lists.count %></td>
			<td><%= course.wait_lists.count %></td>
			<td><%= course.start_date.strftime('%b %d') %></td>
			<td><%= course.end_date.strftime('%b %d') %></td>
			<td><%= course.dates %></td>
			<td>
				<%= link_to 'Class List', course_path(course.id), class: 'btn btn-xs btn-default' %>
				<%= link_to 'Delete', course, method: :delete, class: 'btn btn-xs btn-default' %>
				<%= link_to 'Edit', edit_course_path(course.id), class: 'btn btn-xs btn-default' %>
			</td>
		</tr>
	<% end %>
</table>