<!DOCTYPE html>
<html>
<head>
  <title>Macsailing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/headnav' %>
<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<% if current_page?(root_path) %>
	<div id="home-head">
		<h1>MacSailing</h1>
		<h3>Sailing Lessons in Vancouver</h3>
		<div class="center">
			<%= link_to 'All Lessons', all_path, class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>

<div class="container-fluid">
	<%= yield %>
</div>

<div class="params">
	<pre>
		<code>
			<%= debug(params) %>
		</code>
	</pre>
</div>

</body>
</html>
