<!DOCTYPE html>
<html>
<head>
  <title>Macsailing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/headnav' %>
<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<% if current_page?(root_path) %>
	<div id="home-head">
		<h1>MacSailing</h1>
		<h3>Sailing Lessons in Vancouver</h3>
		<div class="center">
			<h4>Lessons</h4>
			<%= link_to 'Lessons', lessons_path, class: 'btn btn-primary' %>
			<%= link_to 'Beginner', beginner_path, class: 'btn btn-primary' %>
			<%= link_to 'Intermediate', intermed_path, class: 'btn btn-primary' %>
			<%= link_to 'Advanced', advanced_path, class: 'btn btn-primary' %>
		</div>
		<div class="center">
			<h4>Other</h4>
			<%= link_to 'Groups', lessons_path, class: 'btn btn-primary' %>
			<%= link_to 'Rentals', lessons_path, class: 'btn btn-primary' %>
		</div>
	</div>

<% end %>

<div class="container-fluid">
	<%= yield %>
</div>

</body>
</html>
